<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="urdfbot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import urdfbot urdf file -->
    <xacro:include filename="$(find urdfbot_description)/urdf/urdfbot_simple.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="urdfbot.ros2_control.xacro" />


    <xacro:urdfbot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
